<div class="menu_tex" style="float:left;"><a href="#">Home</a>   <a href="#">Monte seu look</a>    <a href="#">Nossos "estlisteas</a>   <a href="#">looks</a> </div>

<div style="width:400px; float:right;">
 <div class="tex_link" align="right" style="padding-top:5px;">
 <a href="#"><b>Register</b></a> - &nbsp; <a href="#">Sign in</a></div>
 <div style="margin:5px 0 5px 0px;" align="right"><b>Search products : &nbsp;</b>
   <label>
   <input type="text" name="textfield" id="textfield" style="width:170px;">
   </label>
 </div>
</div>

<div style="height:4px; background:#cdcdcd; clear:both; margin-bottom:10px;"></div>