<div class="img_div">
	                                          <a title="<%= "#{product.prod_name} - $#{product.prod_price} - polyvore.com"%>" href="#foo">
	                                              <%=image_tag product.attachments.first.pic.url(:medium),{:size => '70x70',:class => 'draggable-menu dragimg'}%>         
	                                          </a>
	                                      </div>