<html> 
<head> 
	<title>Admin Pannel</title> 
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" /> 
 <%= stylesheet_link_tag 'admin.css' %>
	
</head>
<body> 
	<%=render 'admin/top'%>
<%= yield%>
<div id="footer"></div>
</body> 
</html>